body {
  @apply bg-gray-100;
}

button,
input,
textarea {
  @apply focus:outline-none;
}

button:disabled {
  @apply opacity-80;
}

.header-menu {
  & > li {
    & > a {
      @apply block h-16 flex items-center px-4;
    }

    &:hover {
      & > a {
        @apply bg-indigo-700;
      }
    }
  }

  .dropdown {
    .dropdown-menu {
      @apply absolute bg-indigo-700 top-full right-0 w-60 hidden;
    }

    &:hover {
      .dropdown-menu {
        @apply block;
      }
    }
  }
}

.ck-editor__editable_inline {
  min-height: 400px;
}

ol.invitation-progress {
  @apply flex flex-row gap-8 mb-4;

  & > li {
    @apply flex flex-row items-center space-x-2;

    .step {
      @apply rounded-full border-2 bg-white block w-6 leading-6 text-center h-6 text-sm box-content border-gray-600 flex-none;
    }

    .label {
      @apply text-gray-500;
    }

    &.current {
      .step {
        @apply border-blue-600 font-semibold;
      }

      .label {
        @apply text-gray-900 font-semibold;
      }
    }

    &.done {
      .step {
        @apply border-blue-600 bg-blue-600 text-white;
      }
    }
  }
}

.aside-menu {
  & > li {
    @apply overflow-hidden;

    .sub-menu {
      @apply transition-opacity h-0 opacity-0 duration-500 space-y-0.5 py-0.5;

      & > li {
        &.active > a {
          @apply bg-gray-700;
        }
      }
    }

    &.active {
      & > a {
        @apply bg-gray-700 relative;

        &::before {
          @apply absolute w-2 inset-y-0 left-0 bg-indigo-600 block;

          content: '';
        }
      }
    }

    &.current {
      & > a {
        @apply bg-gray-700 relative;
      }

      .sub-menu {
        @apply h-auto opacity-100;
      }
    }
  }
}
